body {
    color: #fff;
    /*background-image: linear-gradient(to bottom right, purple, green, purple);*/
    background-image: url('wallpaperbetter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    
}
h1 {
    text-align: center;
    color: rgb(66, 15, 77);
    background-color: #11a36a;
    padding: 15px;
    font-size: 25px;
    line-height: 15px;
    font-weight: 600;
    border-radius: 500px;
    margin: 50px;
}
h2 {
    line-height: 150px;
    font-family: serif;
    color:#11a36a;
    font-size: 28px;
}
.direita {
    width: 50%;

}
.esquerda {
    width: 50%;

}
.center-h2-text {
    
    margin-top: 10em;
    margin-left: 26em;
    display: flex;
    align-items: center;
}
p {
    color: whitesmoke;
    display: inline-block;
    text-align: left;
    line-height: 1.7em;
    font-size: 18px;
}
ul, ol {
    display: inline-block;
    line-height: 1.7em;
}
li {
    text-align: left;
}
img {
    max-height: 300px;
    width: auto;
    border-radius: 800px;
    border-color: #11a36a;
    border-style: solid;
}
.sobre-mim {
    float: right;
    width: 45%;
}
.centralizar-text-img {
    text-align: center;
}                                
.button-links {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #11a36a;
    padding: 15px;
    font-size: 15px;
    line-height: 10px;
    font-weight: 600;
    border-radius: 500px;
    margin: 1px;
}
.cor-link-trybe-newton {
    color: #11a36a;
}
#topo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #7f1d96;
    padding: 15px;
    font-size: 15px;
    line-height: 10px;
    font-weight: 600;
    border-radius: 500px;
    margin: 1px;
}
#font-1 {
    font-family: 'Indie Flower', cursive, sans-serif;
    line-height: 30px;
    font-size: 25px;
}
#font-2 {
    font-family: 'Bellota', cursive, sans-serif;
    line-height: 30px;
    font-size: 25px;
}
#font-3 {
    font-family: 'Zilla Slab', sans-serif;
    line-height: 30px;
    font-size: 25px;
}
#font-4 {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 30px;
    font-size: 25px;
}
#font-5 {
    font-family: 'Lobster', cursive, sans-serif;
    line-height: 30px;
    font-size: 25px;
}
#font-6 {
    font-family: 'Caveat', cursive, sans-serif;
    line-height: 30px;
    font-size: 25px;
}
#font-7 {
    font-family: 'Cinzel', sans-serif;
    line-height: 30px;
    font-size: 25px;
}
